body {
	margin: 0;
	padding: 0;
	background-color: silver;
	color: #666;
	font-family: "Segoe UI", Segoe, Calibri, Arial, sans-serif;
	font-size: 100%;
	line-height: 1.6;
}

/* LAYOUT -------------- */
#wrapper {
	margin: 0 6%;
}
#header {
	position: relative;
	margin: 10px 0 20px 0;
	padding: 20px 0;
	text-align: center;
	color: red;
	border: 2px dashed black;
	border-radius: 15px;
}
#nav {
	float: left;
	margin: 40px 0 20px 0;
	border: 2px dashed black;
}
#content {
	overflow: hidden;
	float: left;
	width: 70%;
	margin-bottom: 40px;
	border: 2px dashed black;
}
#sidebar {
	float: right;
	width: 25%;
	margin-bottom: 40px;
	border: 2px dashed black;
}
#footer {
	overflow: hidden;
	clear: both;
	padding: 10px 0;
	margin-bottom: 10px;
	text-align: center;
	color: red;
	border: 2px dashed black;
	border-radius: 15px;
}

/* NAV ---- */
#nav ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
#nav li {
	float: left;
	margin: 0 0 0 .5em;
}
#nav a {
	display: block;
	padding: .3em .5em;
	border-bottom: 1px dashed #3C9;
}


/* CENTER PANEL -- */
h1 + p {
	column-count: 2;
	column-gap: 1.5em;
}
.flex {
	float: left;
	width: 30%;
	margin: 0 4.5% 0 0;
	padding: 10px 0 0 0;
}
.flex:last-child { margin-right: 0; }


/* SIDEBAR ---- */
#sidebar div {
	margin-bottom: 1.6em;
	line-height: 1.2;
} 
#sidebar p {
	padding: 1em;
	background: hsla(0,0%,100%,.3);
}
#sidebar ul {
	margin: 0;
	padding: 1em;
	list-style: none;
}
#sidebar li {
	margin: .5em 0;
	padding: 0 0 .5em 0;
	border-bottom: 1px dashed #3C9;
}



/* MEDIA QUERIES -------- */
@media screen and (min-width: 1000px) {
	#nav {
		position: fixed;
		/*top: 136px;*/
		width: 13%;
		margin: 0;		
		text-align: right;
	}
	#nav li {
		float: none;
		margin: 0;
	}
	#content {
		width: 58%;
		margin-left: 18%;
	}
	#sidebar{ 
		width: 20%; 
	}
}

@media screen and (max-width: 1000px) {
	#nav {
		clear: left; 
		float: left;
		margin-bottom: 50px;
		width:100%;
	}
	#nav li { margin: 0 .5em 0 0; }
	.flex {
		float: none;
		width: auto;
		margin: 0 0 1.6em 0;
		background-position: top left;
	}
	#content, #sidebar {
		float: none;
		width: 100%;
	}
}

